<h3>Alterar funcionario: </h3>
<div class="card">
    <div class="card-body">
        <h5>Buscar funcionario:</h5>
        <form action="/usuario/busca-alterar-funcionario" method="POST">
            <label for="busca_cpf">CPF: </label>
                <input type="text" name="busca_cpf" class="form-control">
            <button type="submit" class="btn btn-success mt-3">Buscar</button>
        </form>
    </div>
</div>
<hr>
{{#if usuario}}
<div class="card">
    <div class="card-body">
        <form action="/usuario/alterar-funcionario" method="POST">
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" value="{{usuario.nome}}" required>
            <label for="data_nascimento">Data de nascimento: </label>
                <input type="date" name="data_nascimento" value="{{dateFormatiso usuario.data_nascimento}}" class="form-control" required>
            <label for="rg">RG: </label>
                <input type="text" name="rg" value="{{usuario.rg}}" class="form-control" required>
            <label for="cpf">CPF: </label>
                <input type="text" name="cpf" value="{{usuario.cpf}}" class="form-control" required>
            <label for="telefone_1">Telefone: </label>
                <input type="text" name="telefone_1" value="{{usuario.telefone_1}}" class="form-control" required>
            <label for="telefone_2">Telefone 2: </label>
                <input type="text" name="telefone_2" value="{{usuario.telefone_2}}" class="form-control">
            <label for="email">Email: </label>
                <input type="email" name="email" value="{{usuario.email}}" class="form-control" required>
            <label for="nivel_usuario">Função: </label>
                <select name="nivel_usuario" class="custom-select" required>
                    {{#select usuario.nivel_usuario}}
                    <option value="0">Atendente</option>
                    <option value="1">Clínico</option>
                    <option value="2">Gerente</option>
                    <option value="3">Administrador</option>
                    {{/select}}
                </select>
            <button class="btn btn-success mt-4" type="submit">Alterar</button>
        </form>
    </div>
</div>
{{else}}
<div class="card">
    <div class="card-body">
        <p>Busque pelo CPF para editar um cadastro!</p>
    </div>
</div>
{{/if}}